---
title: About
layout: default
header-img: assets/img/machine.gif
---

{% include header.html %}


<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>关于</h2>
</div>


<div style="position: relative;width: 100%;background-color: #fff22;overflow: hidden;padding: 40px 0 80px"> 
       
    	<main class="tags-content">

    	<ul class="tags-list">
    	
    	    <li style="margin: 61px 0px 0px">
    	    	<article class="markdown-body" style="text-align: center;width: auto;line-height: 2">

                    <br>

                    哟！ 我是黄雅慧，<br>

    			    一个对各种有趣知识感兴趣的狂热学习者。<br>
                    
                    “敢于知道，因为真理使你自由”<br>

                    <br>

    		        Email: hyahui@ibeike.com

                </article>
    		</li>
    
    	</ul>
    	</main>


    
</div>
    
{% include footer.html %}
