<header class="g-header">
    <!--
        <div class="g-logo">
      <a href="{{ "/" | relative_url }}"></a>
    </div>
    -->
    <div class="g-nav" style="float: left; margin-left: 2%">
         {% if page.lang %}
             <a href="https://en.hyahui.com{{page.url}}" style="color: rgb(255, 255, 255); font-size: 14px; opacity: .7;">EN</a>
         {% else %}
             <a href="https://en.hyahui.com" style="color: rgb(255, 255, 255); font-size: 14px; opacity: .7;">EN</a>
         {% endif %}
    </div>

    <i id="menu-toggle" class="iconfont icon-menu"></i>
    <nav class="g-nav">
        <ul>
            {% for i in site.nav %}
            <li><a href="{{ i[1] }}">{{ i[0] }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
