<header class="g-header">
    <!--
        <div class="g-logo">
      <a href="{{ "/" | relative_url }}"></a>
    </div>
    -->
    <div class="g-logo">
         {% if page.url == "/tags" %}
             <a href="https://en.hyahui.com{{page.url}}"></a>
         {% elsif page.url == "/about" %}
             <a href="https://en.hyahui.com{{page.url}}"></a>
         {% else %}
             {% if page.lang %}
                 <a href="https://en.hyahui.com{{page.url}}"></a>
             {% else %}
                 <a href="https://en.hyahui.com"></a>
             {% endif %}
         {% endif %}
    </div>

    <div class="g-nav">{{page.url}}</div>>

    <i id="menu-toggle" class="iconfont icon-menu"></i>
    <nav class="g-nav">
        <ul>
            {% for i in site.nav %}
            <li><a href="{{ i[1] }}">{{ i[0] }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
